__pycache__/
*.py[cod]
venv/
.venv/
.vscode/
*.log
*.tmp
*.bak

# DB / dados locais
*.db
*.sqlite3
ultima_senha.db

# Segredos
.env
.env.*
secrets.*
*.key
*.pem

# SO/Editor
.DS_Store
Thumbs.db

# Build/Dist
build/
dist/
*.egg-info/
