app = "white-glade-1234"          # precisa ser ÚNICO no Fly. Se já existir, mude o nome.
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  PAINEL_DB_PATH = "/data/ultima_senha.db"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[mounts]]
  source = "app_data"            # <-- este é o NOME do volume
  destination = "/data"

[vm]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
